



/***********************************************
 Hero
 ***********************************************/


.hero
	background-color: #97999a
	min-height: 100vh
	padding-bottom: 50px
	position: relative
	background-repeat: no-repeat
	background-position: 0% 50%
	background-size: cover
	&:before
		position: absolute
		content: "" 
		top: 0
		left: 0
		right: 0
		bottom: 0   
		background: rgba(#000,.3)  
		z-index: 0
	+m-max(800)
		background-image: url("../img/bg__hero--small.jpg")
	+m-min(800)
		background-image: url('../img/bg__hero.jpg')



.slogan
	position: absolute
	top: 50%
	transform: translate(0, -50%)
	z-index: 1
	+m-max(1200)
		position: relative
		transform: none
		text-align: center

	&__logo
		padding-bottom: 50px
		+m-max(1200)
			padding-top: 40px
			padding-bottom: 10px
		+m-hmin(1199)
			padding-top: 250px

	&__title
		+fontf-r
		line-height: 30px
		color: #ffffff
		font-size: 30px
		span
			display: block
			padding-top: 28px
			text-transform: uppercase
			padding-bottom: 50px
			font-weight: 800
			font-size: 72px
			color: rgba(255,255,255,0.7)
			+m-max(768)
				font-size: 35px
				padding: 10px 0 15px
		+m-max(768)
			font-size: 18px











/***********************************************
 About-us
 **********************************************/
.about-us
	padding: 100px 0
	+m-max(992)   // sm
		padding: 20px 0

	&__img
		width: 100%
		max-width: 500px
		box-shadow: 1.4px 8.9px 40px rgba(0,0,0,.38)
		+m-max(992)   // sm
			display: block
			margin: 0 auto

	&__descr
		color: #777777
		+fontf-n
		font-size: 16px
		font-weight: 400
		line-height: 30px
		p
			margin-top: 0

	&__subtitle
		color: #8b8b8b
		+fontf-r
		font-size: 13px
		letter-spacing: 0.5em
		font-weight: 600
		text-transform: uppercase
		line-height: 1
		padding-top: 0px
		text-align: left
		padding-bottom: 13px
		+m-max(1200)  // md
			padding-top: 20px
		+m-max(992)   // sm
			text-align: center


	&__title
		color: #2c2f33
		+fontf-r
		font-size: 36px
		font-weight: 600
		letter-spacing: 0.15em
		text-transform: uppercase
		line-height: 1
		text-align: left
		padding-bottom: 25px 
		margin-left: -2px
		+m-max(992)   // sm
			text-align: center











/***********************************************
 Benefits
 ***********************************************/
.benefits
	+m-max(992)   // sm
		padding: 20px 0px

	&__item
		text-align: center
		padding: 0 40px 
		+m-max(992)   // sm
			max-width: 400px
			display: block
			margin: 0 auto 30px
			padding: 0 20px


	&__title
		margin-top: 40px
		margin-bottom: 26px
		line-height: 1
		color: #2c2f33
		font-size: 18px
		font-weight: 600
		+fontf-r
		+m-max(992)   // sm
			margin-top: 10px
			margin-bottom: 10px

	&__description
		font-size: 16px
		line-height: 30px
		color: #777777
		+fontf-n











/***********************************************
 Offer
 ***********************************************/
.offer
	&__item
		padding-left: 400px
		padding-top: 160px	
		position: relative	
		min-height: 340px
		max-width: 760px

	&__item-title
		color: #2c2f33
		+fontf-r
		font-size: 20px
		font-weight: 600

	&__item-descr
		color: #777777
		font-size: 16px
		font-weight: 400
		line-height: 30px

	&__item-img
		position: absolute
		top: 0
		left: 0

	&__item-number
		position: absolute
		top: 164px
		left: 170px

	&__item--right
		float: right
		padding: 160px 400px 0 0
		.offer__item-img
			top: 0
			left: auto
			right: 0
		.offer__item-number
			top: 164px
			left: auto
			right: 170px	


+m-max(768)   // xs
	.offer
		padding: 20px 0


		&__item
			padding: 0 20px
			margin-bottom: 20px

		&__item-img
			position: static
			width: 100%
			max-width: 230px
			display: block
			margin: 0 auto


		&__item-number
			display: none

		&__item-title
			text-align: center
			margin-bottom: 10px

		&__item-descr
			text-align: center











/***********************************************
 Team
 ***********************************************/
.team
	&__item
		position: relative
		width: 100%
		min-width: 270px
		min-height: 370px
		margin-bottom: 30px
		background-size: cover
		background-position: 50% 50%
		background-repeat: no-repeat
		&:hover
			.team__item-overlay
				padding-top: 171px
				// background-color: red
				height: 100%
			.team__item-role
				white-space: normal
				&:after
					display: block
			.team__item-socials
				display: block
			.team__item-name
				white-space: normal
		+m-max(768)   // xs
			width: 270px
			margin: 0 auto 20px

		
		

	&__item-overlay
		position: absolute
		width: 100%
		bottom: 0
		height: 100px
		padding-top: 31px
		text-align: center
		transition: all .3s
		// background-color: lightgrey
		background-image: linear-gradient(to bottom, rgba(44,47,51,.1), rgba(44,47,51,1))

	&__item-name
		color: #ffffff
		+fontf-r
		font-size: 18px
		font-weight: 600
		margin-bottom: 14px
		text-overflow: ellipsis
		overflow: hidden
		white-space: nowrap
		padding: 0 10px
	
	&__item-role
		color: #e0e0e0
		+fontf-r
		font-size: 11px
		font-weight: 600
		text-transform: uppercase
		position: relative
		text-overflow: ellipsis
		overflow: hidden
		white-space: nowrap
		padding: 0 10px 50px
		&:after
			display: none
			position: absolute
			content: ''
			background-image: url("../img/team-role.png")
			width: 30px
			height: 1px
			bottom: 25px
			left: 50%
			transform: translate(-50%, 0)

	&__item-socials
		display: none

	&__item-icon
		display: inline-block
		border: 1px solid #ffffff
		border-radius: 30px
		width: 30px
		height: 30px
		margin: 0 7px
		position: relative
		&:hover
			background-color: #f44a4a
			border: 1px solid  #f44a4a
		.icon
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)











/***********************************************
 Blog
 ***********************************************/
.blog
 	+clearfix
 	&__item
 		position: relative
 		float: left
 		padding-left: 500px
 		min-height: 370px
 		max-width: 970px
 		margin-bottom: 20px
 		&:nth-child(odd)
 			float: right
 			padding: 0 500px 0 70px
 			+m-max(768)
 				float: none
 			.blog__item-img
 				top: 0
 				left: auto
 				right: 0
 				&:after
 					right: auto
 					left: -65px
 				&:before
 					top: 59px
 					right: auto
 					left: 0
 					+arrow(14,16,#e1e1e1, r)
 			.blog__item-img-author
 				top: 33px
 				left: auto
 				right: 400px

 	&__item-meta
 		padding-top: 30px
 		+fontf-r
 		font-size: 11px
 		font-weight: 600
 		text-transform: uppercase
 		color: #b4b4b4
 	&__item-author
 		color: #8b8b8b
 	&__item-category
 		color: #8b8b8b
 		

 	&__item-title
 		color: #2c2f33
 		+fontf-r
 		font-size: 18px
 		font-weight: 600
 		line-height: 28px
 		margin-bottom: 40px
 		&:hover
 			text-decoration: none

 	&__item-img
 		position: absolute
 		left: 0
 		top: 0
 		display: block
 		width: 370px
 		height: 370px
 		background-size: cover
 		background-position: 50% 50%
 		background-repeat: no-repeat
 		&:after
 			content: ''
 			position: absolute
 			width: 65px
 			height: 100%
 			background-color: #e1e1e1
 			right: -65px
 		&:before
 			content: ''
 			position: absolute
 			top: 59px
 			right: 0
 			+arrow(14,16,#e1e1e1, l)
 			
 	&__item-img-author
 		position: absolute
 		left: 400px
 		top: 30px
 		width: 70px
 		height: 70px
 		border-radius: 70px
 		display: block
 		background-color: grey
 		background-size: cover
 		background-position: 50% 50%
 		background-repeat: no-repeat
 		box-shadow: 0px 2px 4px grey

 	&__item-descr
 		color: #777777
 		font-size: 16px
 		font-weight: 400
 		line-height: 30px
 		margin-bottom: 40px

+m-range(768,1000)
	.blog
		&__item
			padding-left: 300px
			text-align: left
			&:nth-child(odd)
				padding-right: 300px
			

		&__item-img
			width: 290px
			height: 290px
			&:before
				display: none
			&:after
				display: none

		&__item-img-author
			display: none

+m-max(768)
	.blog
		padding-bottom: 20px
		&__item
			padding-left: 20px
			padding-right: 20px
			text-align: center
			margin: 0 auto 20px
			&:nth-child(odd)
				padding: 0 20px

		&__item-img
			position: static
			margin: 0 auto
			width: 290px
			height: 290px
			&:before
				display: none
			&:after
				display: none

		&__item-img-author
			display: none

		&__item-descr
			margin-top: 10px
			margin-bottom: 10px
			line-height: 20px

+m-max(500)
	.blog
		&__item-img
			width: 200px
			height: 200px











/***********************************************
 Projects
 ***********************************************/

.projects
	&__item
		position: relative
		width: 100%
		min-height: 470px
		margin-bottom: 30px
		background-size: cover
		background-position: 50% 50%
		background-repeat: no-repeat
		&:hover
			.projects__overlay
				opacity: 1
		+m-max(768)   // xs
			max-width: 222px
			min-height: 282px
			margin: 0 auto 10px

	
	&__overlay
		opacity: 0
		transition: all .3s
		position: absolute
		width: 100%
		height: 100%
		background-color: rgba(244, 74, 74, .9)
	
	&__icon
		width: 60px
		height: 60px
		border-radius: 60px
		background-color: #fff
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)		
		.icon
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)






/***********************************************
 Testimonials
 ***********************************************/
.testimonials
	&__item
		text-align: center
		outline: none

	&__avatar
		width: 81px
		height: 81px
		border-radius: 80px
		background-size: cover
		background-position: 50% 50%
		background-repeat: no-repeat
		display: inline-block
		box-shadow: 0px 2px 4px grey
		margin-bottom: 29px

	&__name
		+fontf-r
		color: #2c2f33
		font-size: 18px
		font-weight: bold
		line-height: 1
		margin-bottom: 14px
		letter-spacing: 0.0	4em

	&__company
		+fontf-r
		margin-bottom: 37px
		color: #8b8b8b
		font-size: 11px
		font-weight: bold
		text-transform: uppercase
		letter-spacing: 0.15em

	&__text
		font-style: italic
		font-size: 16px
		color: #777777
		line-height: 30px












