/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-design {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 50px;
  height: 52px;
}
.icon-menu {
  background-image: url(../img/sprite.png);
  background-position: 0px -52px;
  width: 16px;
  height: 16px;
}
.icon-online {
  background-image: url(../img/sprite.png);
  background-position: -50px 0px;
  width: 50px;
  height: 52px;
}
.icon-projects {
  background-image: url(../img/sprite.png);
  background-position: -13px -68px;
  width: 13px;
  height: 13px;
}
.icon-social-be {
  background-image: url(../img/sprite.png);
  background-position: -16px -52px;
  width: 18px;
  height: 11px;
}
.icon-social-fb {
  background-image: url(../img/sprite.png);
  background-position: -26px -68px;
  width: 8px;
  height: 13px;
}
.icon-socila-bh {
  background-image: url(../img/sprite.png);
  background-position: 0px -68px;
  width: 13px;
  height: 14px;
}
.icon-socila-tw {
  background-image: url(../img/sprite.png);
  background-position: -34px -52px;
  width: 13px;
  height: 11px;
}
.icon-support {
  background-image: url(../img/sprite.png);
  background-position: -100px 0px;
  width: 50px;
  height: 52px;
}
