	<!-- BEGIN footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
			
				<!-- BEGIN footer__copyright -->
				<div class="col-sm-9">
					<div class="footer__copyright">
						Copyright © 2017. Design by TexTheme. Code created by Maxim Kobets.
					</div>
				</div>
				<!-- END footer__copyright --> 
			
				<!-- BEGIN footer__socials -->
				<div class="col-sm-3">
					<div class="footer__socials">
						<a href="#" class="footer__icon">
							<i class="icon icon-social-fb"></i>
						</a>
						<a href="#" class="footer__icon">
							<i class="icon icon-socila-tw"></i>
						</a>
						<a href="#" class="footer__icon">
							<i class="icon icon-social-be"></i>
						</a>
						<a href="#" class="footer__icon">
							<i class="icon icon-socila-bh"></i>
						</a>
					</div>
				</div>
				<!-- END footer__socials --> 
			
			</div>
		</div>
	</footer>
	<!-- END footer --> 


	<!-- BEGIN js -->
	    <script src="js/bundle.js"></script>
	<!-- END js--> 
</body>
</html>
