<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">  

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i%7CRaleway:400,400i,600,600i,700,700i,800" rel="stylesheet">     
    
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/manifest.json">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#1d282b">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {# {% include "common/_open-graph.html" %} #} 
    {# {% include "common/_twitter-card.html" %} #}
</head>
<body>
<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a class="browserupgrade__link" href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->


<!-- BEGIN hero -->
<div class="hero">
	<div class="container">

		<!-- BEGIN header -->
		<header class="header">
			<div class="row">
	
				<div class="col-md-3">
					<!-- BEGIN logo -->
					{% if(isFrontPage) %}
					<h1 class="logo">
						<img src="img/logo.png" alt="ClarUp" class="logo__img">
						Project ClarUp
					</h1>
					{% else %}
 					<a href="/" class="logo">
						<img src="img/logo.png" alt="ClarUp" class="logo__img" title="To main page">
					</a>
					{% endif %}
					<!-- END logo --> 
				</div>
	
				<div class="col-md-9">
					<!-- BEGIN search -->
					<form action="">
						<input type="text" class="search">
					</form>
					<!-- END search --> 
					<!-- BEGIN btn-menu-mobile -->
					<div class="btn-menu-mobile visible-xs">
						<i class="icon icon-menu"></i>
						Menu							
					</div>
					<!-- END btn-menu-mobile --> 
					<!-- BEGIN menu -->
					<nav class="menu">
						<a href="#" class="menu__item">Home</a>
						<a href="#" class="menu__item">ABout us</a>
						<a href="#" class="menu__item">Services</a>
						<a href="#" class="menu__item">Blog</a>
						<a href="#" class="menu__item">Sing up</a>
					</nav>
					<!-- END menu --> 
				</div>


			</div>
		</header>
		<!-- END header --> 
		
		<!-- BEGIN slogan -->
		<div class="slogan">
			<img src="../img/logo--big.png" alt="big logo" class="slogan__logo">
			<div class="slogan__title">We bring your ideas to <span>Mega Projects</span></div>
			<a href="#" class="btn btn--accent" >Get Started</a>
			<a href="#" class="btn">Buy Now</a>
		</div>
		<!-- END slogan --> 

	</div>
</div>
<!-- END hero --> 




