	<!-- Open Graph data -->
	<meta property="og:title" content="{{ og_title }}">
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{ og_url }}">
	<meta property="og:image" content="{{ og_image }}">
	<meta property="og:description" content="{{ og_description }}">
	<meta property="og:site_name" content="{{ og_sitename }}">
	<meta property="fb:admins" content="{{ fb_admins }}">