	{# Description no longer than 155 characters #}
	<!-- Twitter Card data -->
	<meta name="twitter:card" content="{{ twitter_summary }}">
	<meta name="twitter:site" content="{{ twitter_publisher }}">
	<meta name="twitter:title" content="{{ twitter_title }}">
	<meta name="twitter:description" content="{{ twitter_description }}">
	<meta name="twitter:creator" content="{{ twitter_author }}">
	<meta name="twitter:image" content="{{ twitter_image }}"> {# Twitter Summary card images must be at least 120x120px #}


