---
title: Front Page
isFrontPage: true

teamData:
- name: 'Jos Petrovic'
  role: 'Founder'
  img: '../img/del/team.jpg'
- name: 'Julie Joskens'
  role: 'Developer'
  img: '../img/del/team.jpg'
- name: 'Small name'
  role: 'Expert is Sales'
  img: '../img/del/team270x370.png'
- name: 'Very loooong name. Lorem ipsum dolor sit.'
  role: 'Beta Tester'
  img: '../img/del/team400x400.png'

blogData: 
- author: 'Justin Cloock'
  authorImg: '../img/del/avatar2.jpg'
  category: 'forest'
  data: 'May 17th, 2017'
  title: 'Increasingly improved and innovative review processes across the network'
  description: 'Sed porta sollicitudin eros, vel sagittis turpis consequat nec. Donec ac viverra ligula, in scelerisque leo. Proin massa quam, ornare in porta quis'
  img: '../img/del/blog.jpg'
- author: 'Samantha Dou'
  authorImg: '../img/del/avatar1.png'
  category: 'lake'
  data: 'May 20th, 2017'
  title: 'Small text'
  description: 'Small text'
  img: '../img/del/370x370.png'
- author: 'Justin Cloock'
  authorImg: '../img/del/avatar2.jpg'
  category: 'forest'
  data: 'May 25th, 2017'
  title: 'Long text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum repellat, at assumenda incidunt quos, omnis?'
  description: 'Long text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora minus consequatur non asperiores, sint qui quo cumque neque eligendi iure accusantium minima, non asperiores deserunt. '
  img: '../img/del/400x500.png'

testimonialsData: 
- img: '../img/del/avatar2.jpg'
  name: 'Evan You'
  company: 'Alibaba Group'
  text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus'
- img: '../img/del/avatar2.jpg'
  name: 'John Duschmol'
  company: 'Apple inc.'
  text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus asperiores, sit quae cum magni error sed eum ullam et vel accusantium numquam voluptatem'
- img: '../img/del/avatar2.jpg'
  name: 'Ilon Mask'
  company: 'Tesla Motors.'
  text: 'Lorem ipsum dolor sit amet, consectetur adipisicing.'
- img: '../img/del/avatar2.jpg'
  name: 'Bill Morris'
  company: 'LG'
  text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus asperiores, sit quae cum magni error sed eum ullam et vel accusantium numquam voluptatem'
- img: '../img/del/avatar2.jpg'
  name: 'Evan Dou'
  company: 'Drack inc.'
  text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus asperiores, sit quae cum magni error sed eum ullam et vel accusantium numquam voluptatem'

projectsData: 
- img: '../img/del/370x470.png'
  url: '#'
- img: '../img/del/300x400.png'
  url: '#'
- img: '../img/del/500x500.png'
  url: '#'
---
{% import "common/_mixins.html" as mixins %}


{% include "common/_header.html" %}



<!-- BEGIN content (for sticky footer) -->
<div class="content">



<!-- BEGIN about-us -->
<section class="about-us section">
	<div class="container">
		<div class="row">
			
			<div class="col-md-6 col-md-offset-1 col-md-push-5">
				<div class="about-us__subtitle">Who we Are</div>
				<h2 class="about-us__title">Hi! We are Agency</h2>

				<div class="about-us__descr">
					<p>Lorem ipsum viverra molestie at hac tempus nulla, euismod metus libero nullam varius turpis justo mi, auctor tristique habitant proin pharetra litora vehicula tellus orci aenean nisl sagittis est.</p>
					<p>Duis litora aenean nisi volutpat, ligula massa fringilla felis integer morbi condimentum rutrum vestibulum enim luctusinteger suscipit tellus ut, donec potenti eu mollis vel ut dolor dictumst.</p>
				</div>
			</div>
			
			<div class="col-md-5 col-md-pull-7">
				<img src="../img/del/who-we-are2.jpg" alt="about us" class="about-us__img">
			</div>

		</div>
	</div>
</section>
<!-- END about-us --> 



<!-- BEGIN benefits -->
<section class="benefits section">
	<div class="container">
		<div class="row">
			
			<!-- BEGIN benefits__item -->
			<div class="benefits__item">
				<div class="col-md-4">
					<i class="icon icon-online"></i>
					<h2 class="benefits__title">Marketing Online</h2>
					<div class="benefits__description">Maecenas dictum, augue vel dictum tempus, sapien metus pulvinar sapien, placerat pulvinar lectus.</div>
				</div>
			</div>
			<!-- END benefits__item --> 

			<!-- BEGIN benefits__item -->
			<div class="benefits__item">
				<div class="col-md-4">
					<i class="icon icon-design"></i>
					<div class="benefits__title">Resposinve Design</div>
					<div class="benefits__description">Maecenas dictum, augue vel dictum tempus, sapien metus pulvinar sapien, placerat pulvinar lectus.</div>
				</div>
			</div>
			<!-- END benefits__item --> 


			<!-- BEGIN benefits__item -->
			<div class="benefits__item">
				<div class="col-md-4">
					<i class="icon icon-support"></i>
					<div class="benefits__title">Support 24/7</div>
					<div class="benefits__description">Maecenas dictum, augue vel dictum tempus, sapien metus pulvinar sapien, placerat pulvinar lectus.</div>
				</div>

			</div>
			<!-- END benefits__item --> 

		</div>
	</div>
</section>
<!-- END benefits --> 



<!-- BEGIN offer -->
<section class="offer section">
	<div class="container">
		<div class="row">
			
			<div class="section__subtitle">Our Services</div>
			<h2 class="section__title">What We Offer</h2>
			<div class="section__description">Maecenas dictum, augue vel dictum tempus, sapien metus pulvinar sapien, placerat pulvinar lectus risus eu erat.</div>

			<!-- BEGIN offer__item -->
			<div class="offer__item col-lg-8 col-sm-12">
				<div class="offer__item-title">Web Design</div>
				<img src="img/del/offer-img.jpg" alt="image description for seo" class="offer__item-img">
				<img src="img/number-one.png" alt="" class="offer__item-number">

				<div class="offer__item-descr">Proin massa quam, ornare in porta quis, sagittis vitae lectus. Maecenas dictum, augue vel dictum tempus, sapien metus pulvinar sapien.</div>
			</div>
			<!-- END offer__item --> 

			<!-- BEGIN offer__item -->
			<div class="offer__item offer__item--right col-lg-8 col-sm-12 pull-right">
				<div class="offer__item-title">Complex application</div>
				<img src="img/del/offer-img.jpg" alt="image description for seo" class="offer__item-img">
				<img src="img/number-two.png" alt="" class="offer__item-number">
				<div class="offer__item-descr">Proin massa quam, ornare in porta quis, sagittis vitae lectus. Maecenas dictum, augue vel dictum tempus, sapien metus pulvinar sapien.</div>
			</div>
			<!-- END offer__item --> 

			<!-- BEGIN offer__item -->
			<div class="offer__item col-lg-8 col-sm-12">
				<div class="offer__item-title">Digital Marketing</div>
				<img src="img/del/offer-img.jpg" alt="image description for seo" class="offer__item-img">
				<img src="img/number-three.png" alt="" class="offer__item-number">
				<div class="offer__item-descr">Proin massa quam, ornare in porta quis, sagittis vitae lectus. Maecenas dictum, augue vel dictum tempus, sapien metus pulvinar sapien.</div>
			</div>
			<!-- END offer__item --> 

		</div>
	</div>
</section>
<!-- END offer --> 



<!-- BEGIN team -->
<section class="team section">
	<div class="container">
		<div class="row">

			<div class="section__subtitle">Meet The Team</div>
			<h2 class="section__title">Our Team</h2>
			<div class="section__description">Maecenas dictum, augue vel dictum tempus, sapien metus pulvinar sapien, placerat pulvinar lectus risus eu erat.</div>

			{% for item in teamData %}
			<!-- BEGIN team__item -->
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="team__item" style="background-image: url({{ item.img }})">
					<div class="team__item-overlay">
						<div class="team__item-name">{{item.name}}</div>
						<div class="team__item-role">{{item.role}}</div>
						<div class="team__item-socials">
							<a href="#" class="team__item-icon"><i class="icon icon-social-fb"></i></a>
							<a href="#" class="team__item-icon"><i class="icon icon-socila-tw"></i></a>
							<a href="#" class="team__item-icon"><i class="icon icon-social-be"></i></a>
							<a href="#" class="team__item-icon"><i class="icon icon-socila-bh"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- END team__item -->
			{% endfor %}

		</div>
	</div>
</section>
<!-- END team --> 



<!-- BEGIN blog -->
<section class="blog section">
	<div class="container">
		<div class="row">

			<div class="section__subtitle">News Blog</div>
			<h2 class="section__title">Our Blog updates</h2>
			<div class="section__description">Maecenas dictum, augue vel dictum tempus, sapien metus pulvinar sapien, placerat pulvinar lectus risus eu erat.</div>

			{%for item in blogData%}
			<!-- BEGIN blog__item -->
			<article class="blog__item">				
				<div class="blog__item-meta">
					<a href="#" class="blog__item-author">{{item.author}}</a> 
					in <a href="" class="blog__item-category">{{item.category}}</a> 
					<span class="blog__item-date">{{item.data}}</span>
				</div>
				<a href="#" class="blog__item-title">{{item.title}}</a>
				<a href="#" class="blog__item-img" style="background-image: url({{item.img}})"></a>
				<a href="#" class="blog__item-img-author" style="background-image: url({{item.authorImg}})"></a>
				<div class="blog__item-descr">{{item.description}}</div>
				<a href="#" class="btn btn--grey">Read more</a>
			</article>
			<!-- END blog__item --> 
			{%endfor%}
			
		</div>
	</div>
</section>
<!-- END blog -->



<!-- BEGIN testimonials -->
<div class="testimonials section">
	<div class="section__subtitle">Testimonials</div>
	<h2 class="section__title">The Clients Say</h2>
	
	<div class="slider-wrapper slider">
		{% for item in testimonialsData %}
		<div class="testimonials__item">
			<div class="testimonials__avatar" style="background-image: url({{item.img}})"></div>
			<div class="testimonials__name">{{item.name}}</div>
			<div class="testimonials__company">{{item.company}}</div>
			<div class="testimonials__text">"{{item.text}}"</div>
		</div>
		{% endfor %}	
	</div>
</div>
<!-- END testimonials --> 



<!-- BEGIN projects -->
<section class="projects section">
	<div class="container">
		<div class="row">

		<div class="section__subtitle">Recent Work</div>
		<h2 class="section__title">Our Projects</h2>
		<div class="section__description">Maecenas dictum, augue vel dictum tempus, sapien metus pulvinar sapien, placerat pulvinar lectus risus eu erat.</div>

		
		{% for item in projectsData %}
		<!-- BEGIN projects__item -->
		<div class="col-md-4 col-sm-6">
			<div class="projects__item" style="background-image: url({{ item.img }})">
				<a href="{{ item.url }}" class="projects__overlay">
					<div class="projects__icon">
						<i class="icon icon-projects"></i>
					</div>
				</a>
			</div>
		</div>
		<!-- END projects__item --> 
		{% endfor %}


		</div>
	</div>
</section>
<!-- END projects --> 



</div>
<!-- END content (for sticky footer) --> 



{% include "common/_footer.html" %}
