/***********************************************
 Common styles 
 ***********************************************/
html
	box-sizing: border-box
*
	box-sizing: inherit
	&:after
		box-sizing: inherit
	&:before
		box-sizing: inherit


.container
	min-width: 320px



=fontf-r
	font-family: Raleway, Tahoma, sans-serif

=fontf-n
	font-family: 'Noto Sans', Tahoma, sans-serif


body
	+fontf-n
	//for sticky footer
	display: flex  
	min-height: 100vh
	flex-direction: column
	
.content //for sticky footer
	flex-grow: 1



.browserupgrade
	margin: 0 0
	padding: 15px 20px
	background: yellow
	color: #000
	text-align: center
	&__link
		color: red
		text-decoration: underline
		&:hover
			color: brown

// sprite icons
.icon
	display: inline-block
	

.btn
	border-radius: 3px
	width: 230px
	margin-bottom: 20px
	border: 2px solid #ffffff
	color: #ffffff
	+fontf-r
	font-size: 18px
	font-weight: 700
	text-align: center
	margin-right: 30px
	display: inline-block
	height: 55px
	line-height: 55px
	&:hover,
	&:focus
		text-decoration: none
		color: #d5d5da
		border-color: #d5d5da
	&--grey
		border-color: #777777
		color: #777777
		margin-right: 0px
		&:hover
			background-color: #f44a4a
			border-color: #f44a4a			
			color: white
	&--accent
		background-color: #f44a4a
		// border: none
		border-color: #f44a4a
		&:hover
			background-color: darken(#f44a4a,10%)
			border-color: #f44a4a
			color: white
	+m-max(1200)
		margin: 10px 10px

.section
	padding: 70px 0
	&:nth-child(even)
		background-color: #F7F7F7
	+m-max(768)
		padding: 40px 0


	&__title
		position: relative
		padding: 0 20px 60px
		margin: 0
		color: #2c2f33
		+fontf-r
		font-size: 36px
		letter-spacing: 0.15em
		font-weight: 600
		text-transform: uppercase
		text-align: center
		&:after
			content: ''
			position: absolute
			bottom: 50px
			left: 50%
			transform: translate(-50%, 0)
			align-self: auto
			width: 110px
			height: 10px
			background-image: url("../img/title.png")
		+m-max(768)
			line-height: 1.1
			padding: 0 15px 30px
			&:after
				bottom: 20px

	&__subtitle
		padding: 0 20px 20px
		text-align: center
		font-size: 13px
		letter-spacing: 0.5em
		line-height: 1
		color: #8b8b8b
		+fontf-r
		font-weight: 600
		text-transform: uppercase

	&__description
		max-width: 582px
		padding: 0 10px
		margin: 0 auto
		color: #777777
		font-size: 16px
		font-weight: 400
		line-height: 30px
		margin-bottom: 60px
		text-align: center
		+m-max(768)
			margin-bottom: 20px
			line-height: 1.5




