/***********************************************
 Footer
 ***********************************************/

.footer
	background-color: #26282a
	padding: 60px 0
	&__copyright
		text-align: left
		color: #848484
		font-size: 16px
		font-weight: 400
		line-height: 28px
	&__socials
		text-align: right
	&__icon
		display: inline-block
		border-radius: 30px
		width: 30px
		height: 30px
		position: relative
		background-color: #404245
		&:hover
			background-color: #f44a4a
		.icon
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

+m-max(768)   // xs
	.footer
		&__copyright
			text-align: center
		&__socials
			text-align: center
