/***********************************************
 Header
 ***********************************************/

.logo
	display: block
	margin-top: 41px
	cursor: pointer
	+hide-text
	+m-max(992)   // sm
		text-align: center
		margin-bottom: 20px
		&__img
			display: block
			margin: 0 auto


.menu
	float: right
	font-size: 0
	text-align: right
	transition: all .3s
	+m-max(992)   // sm
		float: left
	+m-max(768)
		display: none
		width: 100%
		padding: 15px

	&__item
		display: inline-block
		color: #ffffff
		+fontf-r
		font-size: 13px
		line-height: 131px
		height: 131px
		font-weight: 700
		text-transform: uppercase
		margin-left: 67px
		&:hover, &:focus
			text-decoration: none
			color: #d5d5da
		+m-max(992)   // sm
			margin-left: 0
			padding: 5px 10px
			text-align: center
			height: 20px
			line-height: 20px
		+m-max(768)
			display: block
			text-align: center
			width: 100%
			padding: 0
			border-top: 1px solid white
			line-height: 62px
			height: 62px
			&:last-child
				border-bottom: 1px solid white



.btn-menu-mobile
	color: #ffffff
	+fontf-r
	font-size: 18px
	font-weight: 700
	text-transform: uppercase
	text-align: center
	&:hover
		cursor: pointer

.search
	float: right
	width: 60px
	margin-top: 52px
	margin-left: 16px
	padding: 2px 5px
	background-color: transparent
	border: 1px solid transparent
	background-image: url('../img/form__search.png')
	background-position: right center
	background-repeat: no-repeat
	transition: all .3s
	color: white
	&:focus
		background-position: 96% center
		border: 1px solid white
		width: 200px
		outline: none
		border-radius: 3px
	&:hover
		border: 1px solid white
		background-position: 96% center
		border-radius: 3px
	+m-max(992)   // sm
		width: 150px
		border: 1px solid white
		border-radius: 3px
		margin-top: 5px
		background-position: 90% center
	+m-max(767)   // xs
		float: none
		width:auto
		display: block
		margin: 0 auto 20px
		// width: auto
